.root {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #dbdbdb;
}

.searchBar {
  width: 70%;
}

.tools {
  font-size: 20px;

  > span {
    padding-left: 20px;
  }
}
